@page

@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (SignInManager.IsSignedIn(User))
{
    <div>
        <textarea id="conteudo"></textarea>
        <button id="action">Publicar</button>
    </div>
}

<div id="lista"></div>

<script>
    const conteudo = document.getElementById("conteudo")
    const action = document.getElementById("action")
    const lista = document.getElementById("lista")
    
    const email = '@User.Identity?.Name'

    action.onclick = function(){
        const conteudoDigitado = conteudo.value;
        fetch("?handler=Publish&email="+email+"&conteudo="+conteudoDigitado)
        .then(e => e.json())
        .then(data =>{
            const div = document.createElement("div");
            div.innerHTML = `
                <b>${data.post.email}</b> : ${data.post.conteudo} - ${data.post.data}
            `
            lista.prepend(div)
        })
    }

    fetch("?handler=Obtains")
    .then(e => e.json())
    .then(data =>{
        for(let item of data.list)
        {
            const div = document.createElement("div");
            div.innerHTML = `
                <b>${item.email}</b> : ${item.conteudo} - ${item.data}
            `
            lista.append(div)
        }
    })
</script>